body{
    color: white;
    background-color: rgb(247, 29, 255);
}
h1{
    display: flex;
    justify-content: center;
    padding: 5%;
}

h2{
    display: flex;
    justify-content: left;
    padding: 2%;
}

ul{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
