body{
    color: white;
    background: linear-gradient(rgba(255, 0, 234, 0.377), rgb(199, 1, 248) );

}
h1{
    display: flex;
    justify-content: center;
    padding: 5%;
}
h2{
    display: flex;
    justify-content: left;
    padding: 2%;
}

ul{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.cabecalho-logo {
    display: flex;
    justify-content: left;
    width: 800px;
    padding: 1%;
    margin: 1%;
}
.titulo-logo{
    display: block;
}