*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #303c4e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

...{
    background-image: -linear-gradient(rgb(38, 195, 235)white rgb(38, 195, 235));
    color: white;
    display: flex;
}


