body{
    color: white;
    background-color: brown;
}
h1{
    display: flex;
    justify-content: center;
    padding: 5%;
}

h2{
    display: flex;
    justify-content: center;
    padding: 5%;
}

ul{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}